.advantages {
  .container();
  padding: 35px 30px 45px;

  box-sizing: border-box;

  &__title {
    margin: 0;
    // margin-bottom: 28px;
    font-family: @font-bold;
    font-size: 25px;
    line-height: 30px;
  }

  &__list {
    .list-break();
    // border-top: 1px solid transparent;
  }

  &__item {
    margin-top: 82px;

    font-family: @font-bold;
    font-size: 17px;
    line-height: 21px;

    // border-top: 1px solid transparent;
  }
}
