.contacts {
  .container();

  padding: 48px 28px 40px;

  box-sizing: border-box;
}

.contacts__title {
  margin: 0;
  margin-bottom: 24px;

  font-family: @font-bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  .clearfix();
  margin-bottom: 6px;
}
.contacts__list-block {
  .clearfix();
  margin-bottom: 28px;
}

.contacts__item {
  float: left;
  width: 78px;
}

.contacts__value {
  float: left;
  width: 182px;
}

.contacts__item--underline {
  border-bottom: 2px solid #62d1ba;
}

.contacts__map {
  width: 320px;
  margin-left: -30px;
  min-height: 460px;

  margin-bottom: 40px;

  background-color: rgba(30, 30, 30, 0.3);
}

@media @tablet-widths {
  .contacts {
    margin-bottom: 54px;
    padding: 0;
    padding-top: 60px;

    display: flex;
    flex-wrap: wrap;

  }

  .contacts__title {
    width: 100%;
    margin-bottom: 48px;
    padding: 0 50px;

    .font(@font-bold, 43px, 50px);
  }

  .contacts__list {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 50px;

    display: flex;
  }

  .contacts__list-block {
    width: 50%;

    .font(@font-normal, 17px, 30px);
  }

  .contacts__value {
    width: auto;
  }

  .contacts__map {
    width: 800px;
    margin-bottom: 52px;
  }

  .contacts__write-to-us {
    width: 230px;
    margin: 0 auto;
  }
}
