.contacts {
  .container();

  padding: 48px 28px 40px;

  box-sizing: border-box;

  &__title {
    margin: 0;
    margin-bottom: 24px;

    font-family: @font-bold;
    font-size: 18px;
    line-height: 30px;
  }

  &__list {
    .clearfix();
    margin-bottom: 6px;
  }
  &__list-line {
    .clearfix();
    margin-bottom: 28px;
  }

  &__item {
    float: left;
    width: 78px;
  }

  &__value {
    float: left;
    width: 182px;
  }

  &__item--underline {
    border-bottom: 2px solid #62d1ba;
  }

  &__map {
    width: 320px;
    margin-left: -30px;
    min-height: 460px;

    margin-bottom: 40px;

    background-color: rgba(30, 30, 30, 0.3);
  }
}
