.goods-item {
  .container();
  padding: 28px 30px 36px;

  box-sizing: border-box;

  h2, h3 {
    margin: 0;
  }
}

.goods-item__title {
  font-size: 25px;
  line-height: 30px;
  font-family: @font-bold;
}

.goods-item__good-of-week {
  font-size: 17px;
  text-transform: uppercase;
  color: #63d1bb;
  font-family: @font-bold;
}

.goods-item__description {
  margin-top: 17px;
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 25px;
}

.goods-item__info {
  border-collapse: collapse;
  margin-bottom: 28px;
  tr {
    height: 39px;
    width: 100%;
  }
}

.goods-item__property {
  width: 90px;
  border-bottom: 1px solid #cecece;
}

.goods-item__value {
  padding-left: 19px;

  width: 250px;
  border-bottom: 1px solid #cecece;
}

.goods-item__pic {
  display: block;
  margin: 0 auto;
}

.goods-item__price {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  font-family: @font-bold;
  font-size: 17px;
}

.goods-item__btn-order {
  width: 100%;
}
