.goods-item {
  .container();
  padding: 28px 30px 36px;

  box-sizing: border-box;

  h2, h3 {
    margin: 0;
  }

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-family: @font-bold;
  }

  &__good-of-week {
    font-size: 17px;
    text-transform: uppercase;
    color: #63d1bb;
    font-family: @font-bold;
  }

  &__description {
    margin-top: 17px;
    margin-bottom: 17px;

    font-size: 15px;
    line-height: 25px;
  }

  &__info {
    border-collapse: collapse;
    margin-bottom: 28px;
    tr {
      height: 39px;
      width: 100%;
    }
  }

  &__property {
    width: 90px;
    border-bottom: 1px solid #cecece;
  }

  &__value {
    padding-left: 19px;

    width: 250px;
    border-bottom: 1px solid #cecece;
  }


  &__price {
    margin-top: 12px;
    margin-bottom: 25px;
    text-align: center;
    font-family: @font-bold;
    font-size: 17px;
  }

  // &__btn-order {
  //   display: block;
  //
  //   width: 100%;
  //   height: 50px;
  //   background-color: white;
  //   font-family: @font-bold;
  //   font-size: 17px;
  //   text-align: center;
  //   text-transform: uppercase;
  //
  //   border: 2px solid black;
  // }

}
