.item-making {
  margin-top: 30px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.item-making__title {
  order: -1;
  padding: 25px;
  padding-left: 0;
  margin: 0;
  margin-left: 90px;

  .font(@font-bold, 17px, 24px);
}

.item-making__video-description {
  margin: 17px 33px;



  .font(@font-normal, 13px, 24px);
}

.item-making__make-order {
  margin: 27px 33px 32px;

  box-sizing: border-box;
}

.item-making__video {
  background-image: url("../img/video-mobile@1x.jpg");

  @media @retina {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

@media @tablet-widths {
  .item-making {
    display: flex;
    flex-direction: column;
  }

  .item-making__video {

    width: 100%;
    height: 456px;
  }

  .item-making__title {
    order: 0;
    margin-left: 105px;
    padding-top: 38px;
    padding-right: 50px;
    padding-bottom: 30px;
    .font(@font-bold, 20px, 24px);
  }

  .item-making__video-description {
    margin: 0 40px;
    .font(@font-normal, 15px, 30px);
  }

  .item-making__make-order {
    margin: 36px 40px 46px;
  }

  .item-making__video {
    background-image: url("../img/video-tablet@1x.jpg");

    @media @retina {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media @desktop-widths {
  .item-making {
    flex-wrap: wrap;
    height: 456px;
    margin-bottom: 105px;
  }

  .item-making__video {
    width: 65%;
    margin-right: 18px;
  }

  .item-making__title {
    align-self: flex-start;
    width: 22%;
    margin-left: 0;
    margin-top: 96px;
    margin-bottom: 32px;
    padding: 0;

    box-sizing: border-box;
  }

  .item-making__video-description {
    width: 22%;
    margin: 0;
    box-sizing: border-box;
  }

  .item-making__make-order {
    width: 22%;
    margin: 48px 0;
  }

  .item-making__video {
    background-image: url("../img/video-desktop@1x.jpg");

    @media @retina {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}
