.page-header {
  .container();
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  // background-color: white;
  border-bottom: 1px solid #cecece;

}

.page-header__logo-wrapper {
  position: relative;

  display: inline-block;
  line-height: 80px;
  text-align: center;

  box-sizing: border-box;

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.page-header__logo {
  display: inline-block;
}

.page-header__menu-button {
  position: absolute;
  display: block;
  top: 32px;
  right:30px;

  width: 22px;
  height: 22px;

  background-color: transparent;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;

      width: 22px;
      height: 2px;

      background-color: black;
      box-shadow: 0 6px 0 0 black,
                  0 12px 0 0 black;
    }
  }


  &--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: -2px;

      width: 28px;
      height: 2px;

      background-color: black;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}


.page-header__menu-list {
  .list-break();
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 81px;
  width: 320px;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

}

.page-header__menu-item {
  height: 79px;

  font-size: 17px;
  font-family: "Open Sans Bold", "Arial", sans-serif;

  border-bottom: 1px solid #cecece;
  box-sizing: border-box;

  background-color: white;

  a {
    padding-left: 76px;
    vertical-align: middle;
    line-height: 78px;
  }
}

@media @tablet-widths {
  .page-header {
    min-height: 88px;

    flex-direction: row;
    align-items: center;
  }

  .page-header__logo-wrapper {
    padding: 0;
    line-height: 88px;
  }

  .page-header__menu-button {
    display: none;
  }

  .page-header__menu-list {
    position: static;
    flex-direction: row;
    width: auto;

  }

  .page-header__menu-item {
    a {
      padding-left: 0;
      vertical-align: baseline;
      line-height: 0;
    }
  }
}
