.page-footer {
  .container();

  padding: 0 30px;
  box-sizing: border-box;

  &__section {
    height: 80px;
    box-sizing: border-box;

    // background-color: #f1f1f1;
  }

  &__section:first-child {
    text-align: center;
    line-height: 80px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
  }

  &__copyright {
    margin: 0;
    margin-right: 58px;

    text-align: center;
    font-family: @font-bold;
    font-size: 19px;
    line-height: 80px;
    vertical-align: middle;
  }
}

@import "social-links.less";
