.stock {
  // .container();
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.stock__item {
  display: block;
  min-height: 103px;

  padding-top: 24px;
  padding-left: 30px;

  box-sizing: border-box;
}

.stock__item:nth-child(1) {
  background-color: #63d1bb;
}

.stock__item:nth-child(2) {
  background-color: #56c3b2;
}

.stock__category {
  width: 130px;
  padding: 0;
  margin: 0;

  color: white;
  .font(@font-bold, 19px, 24px);

  box-sizing: border-box;
}

@media @tablet-widths {
  .stock {
    flex-direction: row;
  }

  .stock__item {
    flex-grow: 1;

    padding-top: 29px;
    padding-left: 35px;
  }

  .stock__category{
    .font(@font-bold, 20px, 30px);
  }
}
