.stock {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}

.stock__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;

  min-height: 487px;
  box-sizing: border-box;
  background: url("../img/hero-mobile@1x.jpg") center top no-repeat;

  @media @retina {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.stock__title {
  padding: 0;
  margin: 70px 30px auto;

  .font(@font-bold, 27px, 30px);

  text-align: center;
}

.stock__item {
  display: block;
  position: relative;
  min-height: 103px;

  padding-top: 24px;
  padding-left: 30px;

  box-sizing: border-box;

  &--interior-icon {
    background-color: #63d1bb;

    svg {
      position: absolute;
      right: 30px;
      top: 20px;

      fill: #3bb09d;
    }
  }

  &--toy-icon {
    background-color: #56c3b2;

    svg {
      position: absolute;
      right: 30px;
      top: 20px;

      fill: #3bb09d;
    }
  }
}

.stock__category {
  width: 130px;
  padding: 0;
  margin: 0;

  color: white;
  .font(@font-bold, 19px, 24px);

  box-sizing: border-box;
}

@media @tablet-widths {
  .stock__wrapper {

    min-height: 730px;
    max-width: 1050px;

    flex-direction: row;
    flex-wrap: wrap;

    background: url("../img/hero-desktop@1x.jpg") center top no-repeat;

    @media @retina {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .stock__title {
    width: 100%;
    margin-top: 153px;

    .font(@font-bold, 43px, 50px);
  }

  .stock__item {
    width: 50%;
    height: 104px;
    margin-top: auto;

    padding-top: 29px;
    padding-left: 35px;
  }

  .stock__category{
    .font(@font-bold, 20px, 30px);
  }
}

@media @desktop-widths {
  .stock__title {
    .font(@font-bold, 53px, 57px);
  }

}
